@model Case.Turma
<div class="modal-dialog" style="margin:auto;">
	<div class="modal-content">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			<div class="modal-header">
				<h4 class="modal-title">Excluir Turma</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Excluir Turma selecionada?</p>
				@*<p class="text-warning"><small>Erro ao excluir.</small></p>*@
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
				<input type="submit" class="btn btn-danger" value="Delete">
			</div>
		}
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval");

}

